.search input[type='search']:focus {
  border-color: rgba(111, 87, 235, 0.7);
  box-shadow: 0 0 0 3px rgba(111, 87, 235, 0.3);
  outline: none;
}

.btn_outline_purple {
  border: 1px solid var(--primaryColor);
  color: var(--primaryColor);
}

.btn_outline_purple:hover {
  color: rgb(255, 255, 255);
  background-color: var(--primaryColor);
  box-shadow: 0 0 10px rgb(111, 87, 235);
}
